@import '~antd/dist/antd.css';

.swatch-card {
    width: 54px;
    height: 54px;
    padding: 4px;
}

.swatch-card .ant-card-body {
    padding: 0px;
}

.header {
    padding-left: 0px;
    background-color: white;
    height: 60px;
    line-height: 60px;
}

.logo {
    background-color: #E53465;
    width: 200px;
    height: 60px;
    float: left;
    vertical-align:top;
    text-align:center;
    overflow-x:hidden;
}

.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.makeup-action-bar {
    width: 100%;
    max-width: 360px;
    height: 40px;
    display: block;
    margin: 10px auto 0px auto;

}

.makeup-action-bar > Button {
    width: 50%;
}

.current-look-product-container {
    height: 100px;
}

.look-product-category-text {
    width: 100%;
    text-align: center;
}

.look-product-info-text {
    width: 100%;
    text-align: center;
    font-size: small;
}

.look-product-image {
    height: 100px;
    margin: auto;
    display: block;
}

.look-product-style-image {
    width: 60px;
    height: 40px;
    margin: auto;
    display: block;
}

.style-card-image {
    width: 90px;
    height: 60px;
}

.style-card {
    width: 92px;
    height: 62px;
    padding: 0px;
}

.style-card .ant-card-body {
    padding: 0px;
}

.style-container {
    margin: 40px 40px 0px 40px;
}
